body{
    margin: 0%;
    padding: 0%;
    background-color: #f896bf42;
}
#main-img{
    width: 100%;
}
.banner{
    position: relative;
    width: 100%;
}
.heading{
    position: absolute;
    top: 200px;
    right: 150px;
    font-size: 60px;
}
.paragraph{
    position: absolute;
    top: 300px;
    right: 150px;
    font-size: 20px;
}
.button{
    position: absolute;
    top: 450px;
    right: 275px;
}
.button-design{
    color: rgb(228, 94, 153);
    background-color: rgb(45, 31, 128);
}
.bottom-color{
    background: linear-gradient(to right, #FE98BD -3%, #A482E1 100%)
}
.custom-des{
    position: relative;
}
.custom-design{
    position: absolute;
    top: -19px;    
}

@media only screen and (max-width: 1200px) {
    .heading{
        font-size: 40px;
        top: 120px;
        right: 120px;
    }
    .paragraph{
        font-size: 20px;
        right: 60px;
        top: 200px;
    }
    .button{
        right: 180px;
        top: 330px;
    }
}
@media only screen and (max-width: 890px) {
    .heading{
        font-size: 30px;
        top: 60px;
        right: 100px;
    }
    .paragraph{
        font-size: 15px;
        right: 40px;
        top: 130px;
    }
    .button{
        right: 130px;
        top: 230px;
    }
}
@media only screen and (max-width: 630px) {
    .heading{
        font-size: 20px;
        top: 70px;
        right: 100px;
    }
    .paragraph{
        font-size: 10px;
        right: 45px;
        top: 100px;
    }
    .button{
        right: 110px;
        top: 160px;
        font-size: 10px;
    }
}
@media only screen and (max-width: 470px) {
    .heading{
        font-size: 15px;
        top: 40px;
        right: 55px;
    }
    .paragraph{
        font-size: 10px;
        right: 0px;
        top: 70px;
    }
    .button{
        right: 50px;
        top: 120px;
        font-size: 8px;
    }
}
@media only screen and (max-width: 360px) {
    .heading{
        font-size: 14px;
        top: 20px;
        right: 55px;
    }
    .paragraph{
        font-size: 9px;
        right: 0px;
        top: 50px;
    }
    .button{
        right: 60px;
        top: 100px;
        font-size: 7px;
    }
}
@media only screen and (max-width: 320px) {
    .heading{
        font-size: 13px;
        top: 30px;
        right: 30px;
    }
    .paragraph{
        font-size: 7px;
        right: 0px;
        top: 50px;
    }
    .button{
        right: 35px;
        top: 90px;
        font-size: 6px;
    }
}